/*use: animation: vibrating-talking 200ms linear 0ms 2 normal  both;*/
@keyframes vibrating-talking {
	0% {
		transform: translate(0);
	}

	20% {
		transform: translate(-2px, 2px);
	}

	40% {
		transform: translate(-2px, -2px);
	}

	60% {
		transform: translate(2px, 2px);
	}

	80% {
		transform: translate(2px, -2px);
	}

	100% {
		transform: translate(0);
	}
}

  @keyframes diamondLoader {
    0%  ,10% {
      transform: translate(-80px , -80px) rotate(-45deg);
    }
    90% , 100% {
      transform: translate(0px , 0px) rotate(-45deg);
    }
  }


  @keyframes letterSlide {
	0% {
		opacity: 0;
		transform: translateY(2em) translateX(2em);
	}
	30% {
		opacity: 0;
	}

	100% {
		opacity: 1;
		transform: translateY(0) translateX(0);
	}
}