<!DOCTYPE html>
<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title if title else about.title }}</title>

  {% favicons './src/favicon.png', appleIconBgColor='#123' %}


  <link rel="stylesheet" href="{{'/css/style.css' | url}}">
   <link rel="stylesheet" href="{{'/css/style-animations.css' | url}}">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script type="text/javascript" src="{{'/scripts/config.js' | url}}"></script>
  <script type="text/javascript" src="{{'/scripts/util.js' | url}}"></script>
  <script type="text/javascript" src="{{'/scripts/gamedata.js' | url}}"></script>
  <script type="text/javascript" src="{{'/scripts/ui.js' | url}}"></script>

  
  {% endblock %}
</head>

<body>
  <div class="content">
    {% block header %}

    {% endblock %}
    {% block body %}
    <main class="main container">
      {{ content | safe }}
    </main>
    {% endblock %}
    {% block footer %}

    {% endblock %}
  </div>
</body>

</html>